body{
    background-color:#2f6d8e;
    margin-top:0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
h2{
    font-family: 'Almendra Display', cursive;
    text-align: center;
    color:#58c3fc;
}
.headerul{
    padding: 10px;
    background: rgba(0, 255, 248, 0.15);
}
.inline{
    display:inline;
    padding:0px 10px 0px 10px;
}
header{
    text-align:center;
    background:url('http://i.dailymail.co.uk/i/pix/2012/02/05/article-0-1197F230000005DC-995_964x539.jpg');
    background-size:cover;
    padding: 20px 0px 0px 0px;
    color:#58c3fc;
}
h1{
    font-size:4em;
    font-family: 'Raleway', sans-serif; 
}
h2{
    font-size:3em;
}
h3{
    font-size:2em;
    text-align: center;
    color:#70cdff;
}
p{
    font-family: 'Indie Flower', cursive;
    color:white;
}
a{
    color:#a0ddff;
    font-family: 'Dosis', sans-serif;
}
article{
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}
img {
    margin: 10px 0px 0px 150px;
    border: 7px solid white;
    border-radius: 20px;
    float: none;
  }
ul{
    color:white;
}
.ATM{
    margin: -30px 0px 35px 0px;
}
ol{
  color:white;
}
.headerthree{
    text-align:left;
    margin:20px 0px 0px 0px;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 6px 12px;
    border: 1px solid #709bb3;
    border-radius: 8px;
    background: #a0deff;
    background: -webkit-gradient(linear, left top, left bottom, from(#a0deff), to(#70cdff));
    background: -moz-linear-gradient(top, #a0deff, #70cdff);
    background: linear-gradient(to bottom, #a0deff, #70cdff);
    text-shadow: #2f6dbe 1px 1px 1px;
    font: normal normal bold 14px arial;
    color: #111111;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #a0deff;
    background: #c0ffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#c0ffff), to(#86f6ff));
    background: -moz-linear-gradient(top, #c0ffff, #86f6ff);
    background: linear-gradient(to bottom, #c0ffff, #86f6ff);
    color: #111111;
    text-decoration: none;
}
.button:active {
    background: #709bb3;
    background: -webkit-gradient(linear, left top, left bottom, from(#709bb3), to(#70cdff));
    background: -moz-linear-gradient(top, #709bb3, #70cdff);
    background: linear-gradient(to bottom, #709bb3, #70cdff);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -1px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAEqElEQVRIidVVa2wUVRg9M3Nnn7Td5dUWaF3rYqVgsxJESVpErW2xCCb+IBoj8lKCJCZAjCFBI8aYEA1BSDRqsWkAU7SVAJosAj5AwGpKFYRKWboUqN2t3c7uzmN35s5cf5QlddlNUH95ki93cpN7znznu/f7gP87uH91qrwJAk/rARYA41rNK8HB/yRAfA3VADYA7AwD94HIs22L5ppr7CKw74TQycDNo31BK+fZPIQugLkA7k8AxC5aX6yqjVYMJfBcR9fk1VuX06p1TQYoNTGScMw93G2bBqD/tgSIr+ERgWdtgTutwv4h/txQAoeWzlMq1jXGER3WQYm36qUmCkpNKIqGylIg+IutMG/2OfaW7XwxPXHlYybSBje75agw+9tfCQSbC8cvF+GFRgZqUChKCoqsYSRppwDLW4NcAtHighRU1YRICFbXmwhUEGzpmICUzrB2SQpyMgVF0SDLKXSGihMcw4ZRW9EHoIOGgzftErLZeY8/IsBYXTM9zhsGhUFNlBZRxGSClm+cmDFFwzgiQ9c0HD8vYuoUr7N5nVrz/EPxB+6apDae6nWsNAumf2VJoUhOAUsKRS6q93hmlibmTXSrMAwDgyMM733nxaNPexAZV4QdHXZ4WBzt3VPxzvI0HLwKwjT4PHH0RYn990FnjyWFfrzFIuKrB4D5pePZnLafSyElr6K2MontR71Ytnky/FUCZKqicoGA9Yv9aF6lgBkaFEWDImsYHKboCrsTAHfgpiNZCWxaUUePdm9PzW/fpCNmluDVfeXojhbCX8UjSRWM6AlY7gR8VQbaTzvw1ucOSPEUTvYQrN3tH7gmOZ6g4WD4lhoQX31N7Uxr975XdN5GLKRTaQTKkqguU7HneCFmPQyYThmSkUREUjB8zI32jQZsdhtWvD/Baj1Z/FpMFZ+l4cO9eW4RFxg/joExE5qaHk1bSaH1ey/WNDK0vK6gcnEalJg4s9+DrXUKUhpD7QyCXS8TfuEb4h1yipOza3ozA97jv9w7wNWcDaMsEjPRFeLw2Wk3iryF2PKMgcXVOuRzFK0fF6CpQsHj1XHoOoVhUEwuMpDQ+EBnLzlmSaH+nAKWFFI5j39Xz3XSduSs88tj510fhaJO+96N+r0OQkF1DeUeBZ2XRHAcB1PXMMmlQjdGRTwuk9v7Q6FlSaGDeSwCaDgIAD0AeoivgX+wkjZPcBtQ5FG7ojEdRS4LW5bKePtAMX67Oown7xtGgYvDxWsiAJRkW5Sz2d2Aa7zbnKbI6mhbUDTs/6kACwMqnA4B21ZRfPh1MZbsLJGmetKeS0MuFcAn/0QAUYlBlkfved8fFvacmoQjdRGIoguCwMPrZohrtg1xTewAoNNwUM3muOUlZ8B7/HRgRFhSYEtNuRoF3jxYPnAl5thhMqG2bjYgCATrm23WlSF+Mw0H+y0pZOTiyTdweAC8ULZgDnjxXTA2CEPZbMYu9JOSOZ/efzcWURPoCnGHzOsnngLVLACZgfO3wZMRIDfCAcA2JkjWNw+OEH7irAYIossavtAGQ04A0PMEzQjwY0SyScdGprVk/pjeCH3Mqo/Zt25nJmf3q2zknMUZ/AUk4y/X4DpIzgAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}

